body{
    margin-left: 9%;
}



.container1{
    /* border: 2px solid; */
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    gap: 40px;

    

}
/* .conatainer2{
    border: 2px solid;
    width: 1200px;
    height: 380px;
    gap: 40px;
} */
.child1{
    /* border: 2px solid; */
width: 200px;
height: 250px;
position: relative;

}
.child2{
    /* border: 2px solid; */
    width: 200px;
height: 250px;
position: relative;

}
.child3{
    /* border: 2px solid; */
    width: 200px;
height: 250px;
position: relative;

}
.child4{
    /* border: 2px solid; */
    width: 200px;
height: 250px;
position: relative;

}
.child5{
    /* border: 2px solid; */
    width: 200px;
height: 250px;
position: relative;

}



.conatainer2{
     /* border: 2px solid; */
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    gap: 40px; 
}


.child6{
    /* border: 2px solid; */
width: 250px;
height: 250px;
position: relative;
}
.child7{
    /* border: 2px solid; */
width: 250px;
height: 250px;
position: relative;
}
.child8{
    /* border: 2px solid; */
width: 250px;
height: 250px;
position: relative;
}
.child9{
    /* border: 2px solid; */
width: 250px;
height: 250px;
position: relative;
}
.child10{
    /* border: 2px solid; */
width: 250px;
height: 250px;
position: relative;
}

img{
    width: 100%;
    height: 100%;
    
}

.dp1{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: yellow;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child1:hover{
    background-color: red;
    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child1:hover img{
    display: none;
}

.child1:hover .dp1{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp2{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: red;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child2:hover{
    background-color:black;
    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child2:hover img{
    display: none;
}

.child2:hover .dp2{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp3{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: violet;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child3:hover{
    /* background-color:black; */
    background-color: #1c1c1c;

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child3:hover img{
    display: none;
}

.child3:hover .dp3{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp4{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: dark black;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child4:hover{
    /* background-color:black; */
    background-color: darkviolet;

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child4:hover img{
    display: none;
}

.child4:hover .dp4{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp5{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: red;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child5:hover{
    /* background-color:black; */
    background-color: black;

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child5:hover img{
    display: none;
}

.child5:hover .dp5{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp6{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: yellow;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child6:hover{
    /* background-color:black; */
    background-color: lightpink;

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child6:hover img{
    display: none;
}

.child6:hover .dp6{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp7{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: red;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child7:hover{
    /* background-color:black; */
    background-color:  rgb(247, 112, 247);

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child7:hover img{
    display: none;
}

.child7:hover .dp7{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp8{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: violet;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child8:hover{
    /* background-color:black; */
    background-color: #1c1c1c;

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child8:hover img{
    display: none;
}

.child8:hover .dp8{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp9{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: darkviolet;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child9:hover{
    /* background-color:black; */
    background-color: pink;

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child9:hover img{
    display: none;
}

.child9:hover .dp9{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
.dp10{
    
    position: absolute;
    top: 90px;
    left: 40px;

    color: black;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center; 
      
    font-size: 24px;
    opacity: 0;
  
}




.child10:hover{
    /* background-color:black; */
    background-color: red;

    transition: all 3s ease-in-out;
    transition-delay: 0.5 ;
}

.child10:hover img{
    display: none;
}

.child10:hover .dp10{
    opacity: 1;
      transition: all 3s ease-in-out;
    transition-delay: 0.5s ;

}
