body{
    display: flex;
    margin: 0px;
   
    justify-content: center;
    align-items: center;
     height: 800px;
    background-color:black;
    background-image: url(https://wallpapers.com/images/hd/coolest-naruto-uzumaki-ewsquc4mcrsp06vs.jpg);
}


.container{
  border: 2px solid yellow; 

  width:300px ;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-image: url(https://i.pinimg.com/170x/12/f1/ce/12f1ce6c74f89180e5d4c09b26acaafa.jpg);
}
/* img{
    width: 100%;
} */
.child-1{
    border: 2px solid pink;
    width: 10px;
    height: 40px;
    background-color: black;
    border-radius: 50px 50px 50px 50px;
    animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
.child-2{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}
.child-3{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.6s;
     animation-iteration-count: infinite;
}
.child-4{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
}
.child-5{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
.child-6{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}
.child-7{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
}
.child-8{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
}
.child-9{
    border: 2px solid pink;
    width: 10px;
    height: 50px;
    background-color: black;
     border-radius: 50px 50px 50px 50px;
      animation-name: DP;
    animation-duration: 0.9s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
  @keyframes DP {
    10%{
        transform: scale(1,1) ;
           
    }
    50%{
        transform: scale(0.8,3);
        
    }
    100%{
        transform: scale(0.8,0.5);
    }
   
    
}

